h1 {
  color: rgb(26, 49, 49);
  text-align: center;
  margin: 36px;
  border: 3px solid rgb(26, 49, 49);
  border-radius: 28px;
  padding: 12px;
}

body {
  background-color: grey;
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  background-color: rgb(26, 49, 49);
  border-radius: 16px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 100%;
}

.col-first {
  background-color: gray;
  margin: 20px;
  text-align: center;
  border-radius: 12px;
  padding: 6px;
  color: rgb(228, 202, 168);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.input {
  background-color: rgb(105, 95, 101);
  border-radius: 12px;
  width: 250px;
  padding: 10px;
  color: rgb(218, 153, 69);
}
